<div class="hero-unit">
<h1>Usuń workshopa</h1>

<%= form_for(:workshop, :url => {:action => 'destroy', :id => @workshop.id}) do |pole| %>

<p >Czy napewno chcesz usunąć workshopa: <p class ="text-warning"><%= @workshop.name %> ?<p/></p>


<div>
	<%= submit_tag("Usuń",  {:class => "btn btn-mini btn-warning"}) %>
	<%= link_to("powrót", {:action=> 'index'}, {:class => "btn btn-mini btn-primary"}) %>
</div>

<% end %>

</div>