<div class="hero-unit">
	
<h1>Nowy Workshop</h1>

<%= form_for(:workshops, :url => {:action => 'create', :category_id => @cats.id}) do |pole| %>

<%= render(:partial => "form", :locals => {:pole => pole}) %>

<div style="text-align: center;">
	<%= submit_tag("utwórz", :class =>'btn btn-mini btn-warning') %>
	<%= link_to("powrót", {:action => 'index', :category_id => @cats.id}, {:class => "btn btn-mini btn-primary"}) %>
</div>

<% end %>

</div>