<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag  "application", media: "all" %>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  </head>
  <body>
        <h2>PYTANIE Z OTCZAPY.PL !!!</h2>
        <p style="margin-bottom: 0, padding-bottom:2px">Otrzymano zapytanie od: <b><%= @name %></b></p>
        <p>Email NADAWCY: <b><%= @email %></b></p> 

        <hr>
        <p style="margin-bottom: 0; padding-bottom:2px">Treść:</p>
        <p><%= @body %></p>

  </body>
</html>