<% if object && object.errors.size > 0 %>
	<div class="bg-danger">
		<table class="table">
			<tr class="danger">
				<td>Wystąpiły błędy podczas zapisu rekordu do bazy danych, ilość błędów <%= object.errors.size %><br>
					dla następujących pól:</td>
			</tr>
				<% object.errors.full_messages.each do |komunikat| %>
			<tr class="warning">
				<td><b><%= komunikat %></b></td>
			</tr>	
			<% end %>
		</table>
	</div>

<%end%>