    <section id="stopka">
        <div class="container">
            <footer class="row parent">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">       
                    <h4>Copyright &copy; Otczapy Teatr</h4>
                    <details>
                        <p>Projekt i realizacja: <a id="me">Kacper Olszewski</a>
                        <span class="display_none" id="info">kacperolszewski@o2.pl<br>727-704-991</span>
                        <span class="display_none" id="crossed">X</span>
                        </p>
                    </details>
                </div>

                <div class="footer_logo">
                        <a href="#"><img src="/assets/logo_otczapy.png" alt=""></a>
                </div>
            </footer>
        </div>
    </section>