    <section id="links">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onas_naglowek">       
                    <h2>Przekaziory</h2> 
                    <h4>czyli teatru naszego początek</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    
                    <div class="links">
                    <% @links.each do |link| %> 
                        <h3><%= link.name %></h3>
                        <h4><%= link.place %></h4>
                        <a target="_blank" href="<%=link.text%>"><%= link.text %></a>
                     <% end %>
                    </div>
                   
                </div>                      
            </div>
        </div>
    </section>

    <div class="divider extra_top_margin"></div>
    <div class="divider2 extra_bottom_margin"></div>