<!--
     <div class="locale">
         <%= link_to_unless_current image_tag("flags/pl.png", alt: "Polish"), locale: "pl" %>
         <%= link_to_unless_current image_tag("flags/gb.png", alt: "English"), locale: "en" %> 
     </div>
     
<%= link_to_unless_current image_tag("english.jpg", alt: "#{t :english}"), locale: "en" %> -->