    <section id="onas">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onas_naglowek">       
                    <h2>Ab ovo</h2> 
                    <h4>czyli teatru naszego początek</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="Ab_ovo">
                        <img src="/assets/begin.jpg" alt="otczapy team" width="400" class="img-responsive img-rounded pull left">
                        <p>
                            Jesteśmy grupą bardzo różnych ludzi. Można powiedzieć, że jesteśmy z innych bajek. Jak postaci z bardzo odmiennych sztuk teatralnych, które pewnego dnia spotkały się i postanowiły stworzyć wspólny spektakl. Oddzielnie jesteśmy inni, lecz razem tworzymy niezwykły scenariusz.
                        </p>
                        <p>
                         Ta historia zaczęła się w styczniu 2009 roku. Właśnie wtedy, przy Wrzesińskim Ośrodku Kultury powstała Sekcja teatralna KOŁO. Stworzyliśmy dwa duże programy satyryczne, w których udział wzięło kilkanaście osób. Poczuciem humoru i dystansem do siebie zyskaliśmy zaufanie publiczności, dzięki któremu mieliśmy odwagę i chęci na kolejne przedsięwzięcia. W 2011 roku przyszedł czas na wyzwanie – spektakl dyplomowy naszej pani instruktor, broniącej tytuł reżysera teatru dzieci i młodzieży. Wystąpiliśmy w Państwowej Wyższej Szkole Teatralnej im. L. Solskiego w Krakowie, filia we Wrocławiu, w składzie, który do dziś tworzy nasz zespół. Był to czas ogromnej pracy, doświadczaliśmy wielu emocji: radości, szczęścia, czasem zrezygnowania, płaczu, nerwów, ale przede wszystkim spełnienia. Efektem był ogromny sukces: ocena celująca na dyplomie, instruktor teatralny Elżbieta Górczyńska uzyskała tytuł reżysera, a sekcja z tą chwila zmieniła swoją nazwę na: Grupa Teatralna KOŁO.
                        </p>
                        <p>
                         Dzięki tej przygodzie bardzo zżyliśmy się ze sobą i chyba nic nie jest w stanie nas już rozdzielić. Jesteśmy zespołem, który bardzo dobrze zna siebie zarówno z życia prywatnego, jak i ze sceny. Właśnie to daje nam taką siłę. Odkryliśmy, czym jest prawdziwy teatr i poznaliśmy wielu wspaniałych ludzi, przede wszystkim prof. Krzysztofa Grębskiego – aktora, reżysera, wykładowcę Wydziału Lalkarskiego w PWST we Wrocławiu, dzięki którego warsztatom rozwinęliśmy skrzydła, a bez którego nie wyobrażamy już sobie naszej pracy.
                        </p>
                        <p>
                         Od tamtej pory Śpiąca Królewna stała się naszym oczkiem w głowie i pewnie tak już zostanie. Nie znaczy to jednak, że na tym chcemy poprzestać. Podjęliśmy się nagrania audiobooka – bajek dla dzieci i pracujemy nad nowym spektaklem. Za nami Ogólnopolski Konkurs Teatrów Młodzieżowych Melpomena 2012 w Środzie Wielkopolskiej. To nasz pierwszy konkurs i pierwsze Grand Prix. I być może dobra okazja, by nie być już tylko KOŁO teatru, ale być w nim…. i tak oto staliśmy się … TEATREM OTCZAPY.
                        </p>
                        <p>Kuba Liberkowski</p>

                    </div>
                </div>                      
            </div>
        </div>
    </section>
    <!--###############################-->
    <!--Przerywnik #########################-->
    <!--###############################-->
    <section id="break">
        <div class="container">
            <div class="row">
                <div class="transparent_logo">  
                    <img src="/assets/logo_otczapy_transparent.png" alt="" class="img-responsive">
                </div>        
            </div>            
        </div>                  
    </section>    
    
    <div class="divider"></div>
    <div class="divider2"></div>